PORT=5000
MONGO_URI=your_mongodb_atlas_connection_string
JWT_SECRET=choose_a_strong_random_string
ADMIN_SECRET_KEY=SSA_ADMIN_2024
CLOUDINARY_CLOUD_NAME=your_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret
